@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UserProfileViewModel
<style>

</style>
<div class="page-header">
    <h1 class="page-title">My Accounts</h1>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Home"><i class="fa fa-tachometer f-16" aria-hidden="true"></i> Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-user f-16"></i> My Accounts</li>
        </ol>
    </div>
</div>

@if (Model.LoginClients != null)
{
    int Sno = 0;
    <div class="row mb-1">
        <div class="col-3">
            <label class="h5">Total Count: <span class="fw-bold"> </span>@Model.LoginClients.Count</label>
        </div>
        <div class="col-6">
        </div>
        <div class="col-3 text-right ">
        </div>
    </div>
    <div class="table-responsive mb-2" style="min-height:320px;">
        <table class="table border ">
            <thead>
                <tr class="bg-primary text-white">
                    <th>S.No</th>
                    <th>Account Type</th>
                    <th>Last Login</th>
                    <th>Expires In</th>
                    <th style="min-width:72px" class="text-center">ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LoginClients)
                {
                    Sno++;
                    <tr>
                        <td>@Sno</td>

                        <td>@item.LoginType</td>
                        <td>@item.LastSignInAt?.ToString("yyyy-MM-dd | hh:mm tt")</td>
                        @if (item.ExpireInDays.HasValue)
                        {
                            <td>

                                @if (item.ExpireInDays.Value >= 20)
                                {
                                    <i class="fa fa-timer text-success" />
                                }
                                else if (item.ExpireInDays.Value >= 10)
                                {
                                    <i class="fa fa-timer text-warning" />
                                }
                                else
                                {
                                    <i class="fa fa-timer text-danger" />
                                }

                                @item.ExpireInDays Days
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td class="text-center">
                            <input type="hidden" asp-for="Id" class="userId" />
                            @if (item.HasAccess)
                            {
                               @* <button type="button" class="btn btn-green" id="Generate">
                                    <i class="fa fa-key f-16" aria-hidden="true"></i>  Generate Password
                                </button>*@
                                <a class="btn btn-green" asp-action="GeneratePassword" asp-route-Id="@Model.Id">
                                    <i class="fa fa-key f-16" aria-hidden="true"></i>  Generate Password
                                </a>
                                <a class="btn btn-primary" asp-action="ChangePassword">
                                    <i class="fa fa-pencil-square-o f-16" aria-hidden="true"></i>  Change Password
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-outline-primary" disabled>
                                    Disabled
                                </a>
                            }
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div>
        <h6>No login accounts was found.</h6>
    </div>
}
<div class="modal fade slide-front disable-scroll" id="GenerateModel" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-body">

                <div class="row" style="justify-content:center;">
                    <div class="col-md-12">
                        <div class="form-group form-group-default">
                            <input type="hidden" class="copyTemp" />
                            <p class="ptext">
                                Please copy the temporary password,System wil enforce the change Password at re-login into the Portal.<br />

                            </p>
                            <label id="temp" class="lab"></label>

                        </div>

                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-12" style="border: none;justify-content:center;display:flex;">
                        @*<button type="button" id="copytext" class="btn btn-blue copyval">Copy</button>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border: none;justify-content:flex-end;">
                <button type="button" class="btn btn-cancel dismissmodal" data-dismiss="modal" style="border: 1px solid silver;"><i class="fa fa-times-circle"></i> Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#global-loader").hide();
        });
        $("#global-loader").hide();
        // $(document).on('click', '.Generate', function () {
        $('#Generate').click(function () {
            debugger
            $("#global-loader").show();
            var Id = $(".userId").val();
            $.get('GeneratePassword', { Id }).done(function (data) {
                debugger
                if (data != null && data != undefined) {
                    $("#temp").text(data);
                    $(".copyTemp").val(data);
                    $('#GenerateModel').modal('show');
                }
                $("#global-loader").hide();
            }).always(function () {

            });
            $("#global-loader").hide();
        });

        $(document).on('click', '.copyval', function () {

            // Get the text field
            var copyText = $(".copyTemp").val();
            // Select the text field
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(".copyTemp").val()).select();
            document.execCommand("copy");
            $temp.remove();

        });
        $(document).on('click', '.dismissmodal', function () {
            $('#GenerateModel').modal('hide');
        });
    </script>
}